input{
    box-sizing: border-box;
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 calc(.75em - 1px);
    border: 1px solid #dbdbdb;
    border-radius: 0.375em;
    color: #353535;
    height: 2.5em;
}

