.text_icon {
    display: flex;
    gap: 5px;

    & > * {
        margin-top: auto;
        margin-bottom: auto;
    }

    .sprite_icon {
        width: 18px;
        height: 18px;
    }

    .text {
        text-align: left;
    }
}
